[user]
	name = Kristian Roebuck
	email = roebuck86@gmail.com
	signingkey = A3C0840604106E4C

[alias]
  # Show all branches
  br = branch -av

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[fetch]
	prune = true

[pull]
	rebase = true

[winUpdater]
	recentlySeenVersion = 2.19.0.windows.1

[gpg]
	program = C:\\Program Files (x86)\\gnupg\\bin\\gpg

[commit]
	gpgsign = true
